/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(202, 236, 255);
  height: 70px;
  padding-top: 25px;  
  text-align: center;
}

.sub-section {
  height: 250px;
  width: 50%;
  display: inline-block;
}

.second-section {
  height: 250px;
  width: 50%;
  background-color: red;
}

.another {
  height: 100px;
}

.separate {
  height: 80px;
}
.dotted {
  border: 1px dotted;
  background-color: black"
}
.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
}
